{% extends 'common/index.html' %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="uk-grid">
  <div class="uk-width-medium-1-4">
    <ul class="uk-tab uk-tab-left">
      <li class=""><a href="{{ url_for('User.profile', user_id=user.id) }}">个人信息</a></li>
      <li class=""><a href="{{ url_for('User.article', user_id=user.id) }}">投稿</a></li>
      {% if user == current_user %}
      <li class=""><a href="#">消息</a></li>
      <li class="uk-active"><a href="{{ url_for('User.password', user_id=user.id) }}">安全设置</a></li>
      {% endif %}
    </div>
    <div class="uk-width-medium-3-4">
      {% for message in get_flashed_messages(category_filter=['error']) %}
      <div class="uk-alert uk-alert-danger" data-uk-alert>{{ message }}<a class="uk-alert-close uk-close"></a></div>
      {% endfor %}
      {% for message in get_flashed_messages(category_filter=['success']) %}
      <div class="uk-alert uk-alert-success" data-uk-alert>{{ message }}<a class="uk-alert-close uk-close"></a></div>
      {% endfor %}
      <form class="uk-form uk-form-stacked" id="profile-editor" method="POST" action="{{ url_for('User.password', user_id=user.id) }}">
        <div class="uk-form-row">
          {{ form.old_password.label(class='uk-form-label') }}
          {{ form.old_password }}
        </div>
        <div class="uk-form-row">
          {{ form.new_password.label(class='uk-form-label') }}
          {{ form.new_password }}
        </div>
        <div class="uk-form-row">
          {{ form.confirm_password.label(class='uk-form-label') }}
          {{ form.confirm_password }}
        </div>
        <div class="uk-form-row">
          <button type="submit" value="修改" class="uk-button uk-button-danger">修改</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $("#modify").click(function(){
    $("#profile-display").addClass("uk-hidden");
    $("#profile-editor").removeClass("uk-hidden");
  });
</script>
{% endblock %}
