{% extends "common/index.html" %}

{% block main %}
<!-- 个人信息设置模态框 -->
<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">个人信息</h4>
      </div>
      <form enctype="multipart/form-data" action="{{ url_for('User.profile', user_id=user.id) }}" method="POST">
        <div class="modal-body">
          <div class="form-group">
            {{ profile_form.avatar.label }}
            {{ profile_form.avatar }}
            <p class="text-muted">建议图片大小为100x100</p>
          </div>
          {% if profile %}
          <div class="form-group">
            {{ profile_form.brief.label }}
            {{ profile_form.brief(value=profile.brief, class='form-control') }}
          </div>
          <div class="form-group">
            {{ profile_form.homepage.label }}
            {{ profile_form.homepage(value=profile.homepage, class='form-control') }}
          </div>
          <div class="form-group">
            {{ profile_form.mail.label }}
            {{ profile_form.mail(value=profile.mail, class='form-control') }}
          </div>
          {% else %}
          <div class="form-group">
            {{ profile_form.brief.label }}
            {{ profile_form.brief(class='form-control') }}
          </div>
          <div class="form-group">
            {{ profile_form.homepage.label }}
            {{ profile_form.homepage(class='form-control') }}
          </div>
          <div class="form-group">
            {{ profile_form.mail.label }}
            {{ profile_form.mail(class='form-control') }}
          </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">修改</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="panel panel-default" style="padding:10px;">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{ url_for('Image.retrieve', imagename=user.avatar) }}" alt="..." style="width:100px;height:100px;">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading">{{ user.username }}</h3>
      {% if profile %}
      <p><b>简介:</b> {{ profile.brief }}</p>
      <p><b>邮箱:</b> {{ profile.mail }}</p>
      <p><b>主页:</b> {{ profile.homepage }}</p>
      {% endif %}
      {% if current_user == user %}
      <button type="button" class="btn btn-primary" href="" data-toggle="modal" data-target="#profile-modal">修改</button>
      {% endif %}
    </div>
    <h3>最新文章</h3>
    <hr>
    {% for article in pagination.items %}
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><a href="">{{ article.title }}</a></h4>
        <p class="text-muted">{{ article.brief }}...</p>
        {% if article.cover %}
        <img src="{{ url_for('Image.retrieve', imagename=article.cover.encode('utf-8')) }}" alt="" style="width:230px;height:138px;">
        {% endif %}
        <div class="clearfix" style="padding-top:10px;">
          <span class="pull-left text-muted">{{ article.created }}</span>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
    {{ macros.pagination_widget(pagination, 'User.profile') }}
  </div>
</div>
{% endblock %}
