{% extends 'common/index.html' %}

{% block css %}
{{ super() }}
<style>
  article .uk-list li {
    float: left;
    margin-right: 10px;
  }

  article.uk-comment:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .uk-comment-body {
    color: #333;
  }

  img.avatar {
    width: 75px;
    height: 75px;
  }

  img.uk-comment-avatar {
    width: 50px;
    height: 50px;
  }

  h4.uk-comment-title {
    margin: 0;
  }
</style>
{% endblock %}

{% block main %}
<div>
  <article class="uk-article">
    <h2>{{ article.title }}</h2>
    <p class="uk-article-meta">
      <ul class="uk-list uk-clearfix">
        <li>
          <a href="{{ url_for('User.profile', user_id=article.author.id) }}">
            <img class="avatar"
            src="{{ url_for('Image.retrieve', imagename=article.author.avatar) }}" alt="">
          </a>
        </li>
        <li class="uk-text-muted">
          <p>
            <a href="{{ url_for('User.profile', user_id=article.author.id) }}">{{ article.author.username }}</a>
            <span class="uk-text-mu"> | {{ article.created }}</span>
          </p>
          <hr>
          <p>
            {% for tag in article.tags.all() %}
            <span class="uk-badge">{{ tag.tagname }}</span>
            {% endfor %}
            {% if not article.tags.all()|length %}
            <span class="uk-text-muted">无标签</span>
            {% endif %}
          </p>
        </li>
      </ul>
    </p>
    {% if current_user == article.author %}
    <p>
      <a class="uk-button uk-button-success" href="{{ url_for('Article.update', article_id=article.id) }}">修改</a>
      <button id="delete" onclick="delete_article(this)" class="uk-button uk-button-danger" type="button" link="{{ url_for('Article.delete', article_id=article.id) }}">删除</button>
    </p>
    {% endif %}
    <hr class="uk-article-divider">
    {{ article.html_content|safe }}
  </article>
  <hr class="uk-article-divider">
  {% for comment in article.comments.filter_by(deleted=False).all()|reverse %}
  <article class="uk-comment {% if comment.author == article.author %}uk-comment-primary{% endif %}">
    <header class="uk-comment-header">
      <a href="">
        <img class="uk-comment-avatar" src="{{ url_for('Image.retrieve', imagename=comment.author.avatar) }}"
        width="50" height="50" alt="">
      </a>
      <h4 class="uk-comment-title"><a href="">{{ comment.author.username }}</a></h4>
      <div class="uk-comment-meta">{{ comment.created }} | <a class="reply">回复</a>
        {% if (comment.author == current_user) or (article.author == current_user) %}
        &nbsp;|&nbsp;<a href="{{ url_for('Comment.delete', article_id=article.id, comment_id=comment.id) }}" class="uk-text-danger">删除</a>
        {% endif %}
      </div>
    </header>
    <div class="uk-comment-body">{{ comment.html_content|safe }}</div>
  </article>
  {% endfor %}
  {% if article.comments.filter_by(deleted=False).all()|length %}
  <hr class="uk-article-divider">
  {% endif %}
  <a name="comment"></a>
  <form method="POST" action="{{ url_for('Comment.create', article_id=article.id) }}" class="uk-form">
    <div class="uk-form-row">
      {{ form.content(style="width:100%;", rows="5", id="comment-editor") }}
    </div>
    <div class="uk-form-row uk-clearfix">
      <button type="submit" class="uk-button uk-button-primary uk-float-right">评论</button>
    </div>
  </form>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function(){
    var $comment_editor = $("#comment-editor");
    $(".reply").click(function(){
      var $parent = $(this).parents(".uk-comment");
      var author = $parent.find(".uk-comment-title a").text();
      var content = $parent.find(".uk-comment-body").text();
      $comment_editor.val("//@" + author + ": " + content);
      document.getElementById("comment-editor").setSelectionRange(0, 0);
      window.location.href = "#comment";
      $comment_editor.focus();
    });

    delete_article = function(obj){
      if(confirm("确认删除这篇文章?")){
        window.location.href = $(obj).attr("link");
      }
    }
  });
</script>
{% endblock %}
