{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block css %}
<style>
  #content-block > .uk-panel {
    padding: 10px;
  }

  .avatar {
    width: 75px;
    height: 75px;
  }

  .article-title {
    margin: 0;
  }

  td.info {
    padding-left: 10px;
  }

  #register-form input {
    width: 100%;
  }

  #good-list, #topic-list {
    margin-bottom: 20px;
  }

  #good-list ul {
    margin: 0;
  }

  #topic-list hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #toggle-register {
    width: 100%;
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block content %}
<div class="uk-form-row">
  {% for message in get_flashed_messages() %}
  <div class="uk-alert uk-alert-danger" data-uk-alert>{{ message }}<a class="uk-alert-close uk-close"></a></div>
  {% endfor %}
</div>
<div class="uk-grid">
  <div class="uk-width-2-3 uk-panel">
    {% block main %}
    {% for article in pagination.items %}
    <div class="uk-clearfix">
      <table>
        <tr>
          <td width="75px" valign="top">
            <a href="{{ url_for('User.profile', user_id=article.author.id) }}">
              <img class="avatar" src="{{ url_for('Image.retrieve', imagename=article.author.avatar.encode('utf-8')) }}" alt="">
            </a>
          </td>
          <td class="info">
            <h4 class="article-title">
              <a href="{{ url_for('Article.retrieve', article_id=article.id) }}">{{ article.title }}</a>
            </h4>
            <div>
              <a href="{{ url_for('User.profile', user_id=article.author.id) }}">{{ article.author.username }}</a>
            </div>
            <span class="uk-text-muted">
              {{ article.brief }}
            </span>
          </td>
        </tr>
      </table>
    </div>
    {% if not loop.last %}<hr>{% endif %}
    {% endfor %}
    {{ macros.pagination_widget(pagination, 'Common.index') }}
    {% endblock %}
  </div>
  <div class="uk-width-1-3">
    {% block side %}
    <div id="good-list" class="panel">
      <ul class="uk-list uk-list-line">
        <li><b>优评文章</b></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
        <li><a href="">女儿让妈妈更漂亮？</a></li>
      </ul>
    </div>
    <div id="topic-list" class="panel">
      <div>
        <b>话题</b>
      </div>
      <hr>
      <a href=""><div class="uk-badge">时事</div></a>
      <a href=""><div class="uk-badge">经济</div></a>
      <a href=""><div class="uk-badge">体育</div></a>
      <a href=""><div class="uk-badge">科技</div></a>
    </div>
    {% if not current_user.is_authenticated() %}
    <button class="uk-button uk-button-primary" id="toggle-register">新用户注册</button>
    <div id="register-form" class="panel uk-hidden">
      <form class="uk-form uk-form-stacked" action="{{ url_for('Common.register') }}" method="POST">
        <legend>新用户注册</legend>
        <div class="uk-form-row">
          {{ g.register_form.username(placeholder='用户名') }}
        </div>
        <div class="uk-form-row">
          {{ g.register_form.password(placeholder='密码') }}
        </div>
        <div class="uk-form-row">
          {{ g.register_form.confirm_password(placeholder='确认密码') }}
        </div>
        <div class="uk-form-row">
          <button class="uk-button uk-button-primary uk-float-right">注册</button>
        </div>
      </form>
    </div>
    {% endif %}
    {% endblock %}
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/common.index.js') }}"></script>
{% endblock %}
