<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Suze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:site_name" content="suze" />
    <meta property="og:type" content="wemedia" />
    {% block seo %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit/css/uikit.almost-flat.min.css') }}" />
    <link href="{{ url_for('static', filename='img/logo.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit/js/uikit.min.js') }}"></script>
    <style>
      #content-block {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .panel {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
      }
    </style>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav class="tm-navbar uk-navbar uk-navbar-attached">
      <div class="uk-container uk-container-center">
        <a href="{{ url_for('Common.index') }}" class="uk-navbar-brand">Suze</a>
        <ul class="uk-navbar-nav uk-hidden-small">
          <li><a href="{{ url_for('Common.index') }}">文章</a></li>
          <li><a href="core.html">热评</a></li>
          <li><a href="">话题</a></li>
        </ul>
        <div class="uk-navbar-content uk-hidden-small">
          <form class="uk-form uk-margin-remove uk-display-inline-block">
            <input type="text" placeholder="关键字">
            <button class="uk-button uk-button-primary">搜索</button>
          </form>
        </div>
        <ul class="uk-navbar-nav uk-navbar-flip">
          {% if current_user.is_authenticated() %}
          <li class="uk-parent" data-uk-dropdown>
            <a href="">{{ current_user.username }} <i class="uk-icon-caret-down"></i></a>
            <div class="uk-dropdown uk-dropdown-navbar">
              <ul class="uk-nav uk-nav-navbar">
                <li><a href="{{ url_for('Article.create') }}">发布新文章</a></li>
                <li><a href="{{ url_for('User.profile', user_id=current_user.id) }}">个人信息</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('Common.logout') }}">退出</a></li>
              </ul>
            </div>
          </li>
          {% else %}
          <li class="uk-parent" data-uk-dropdown>
            <a href="">登录</a>
            <div class="uk-dropdown uk-clearfix">
              <form class="uk-form" action="{{ url_for('Common.login') }}" method="POST">
                <div class="uk-form-row">
                  {{ g.login_form.username(placeholder='用户名') }}
                </div>
                <div class="uk-form-row">
                  {{ g.login_form.password(placeholder='密码') }}
                </div>
                <div class="uk-form-row">
                  <button class="uk-button uk-button-default" type="reset">重置</button>
                  <button class="uk-button uk-button-primary" type="submit">登录</button>
                </div>
              </form>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock %}
    <div class="uk-width-3-4 uk-container-center" id="content-block">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      <p class="uk-width-1-2 uk-container-center" style="text-align:center;">
        <span style="margin-right:10px;">© suze 2015</span>
        <a target="_blank" href="https://github.com/liqueur" class="uk-icon-button uk-icon-github"></a>
        <a target="_blank" href="http://weibo.com/u/5540998006" class="uk-icon-button uk-icon-weibo"></a>
      </p>
    </div>
  </body>
  {% block js %}{% endblock %}
</html>
