{% macro pagination_widget(pagination, endpoint) %}
<ul class="uk-pagination" style="margin-top:30px;">
  <li {% if not pagination.has_prev %}class="uk-disabled"{% endif %}>
    {% if pagination.has_prev %}
    <a href="{{ url_for(endpoint, page=pagination.page - 1) }}">
      <i class="uk-icon-angle-double-left"></i>
    </a>
    {% else %}
    <span>
      <i class="uk-icon-angle-double-left"></i>
    </span>
    {% endif %}
  </li>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
      <li class="uk-active"><span>{{ p }}</span></li>
      {% else %}
      <li><a href="{{ url_for(endpoint, page=p)}}">{{ p }}</a></li>
      {% endif %}
    {% else %}
    <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}
  {% endfor %}
  <li {% if not pagination.has_next %}class="uk-disabled"{% endif %}>
    {% if pagination.has_next %}
    <a href="{{ url_for(endpoint, page=pagination.page + 1) }}">
      <i class="uk-icon-angle-double-right"></i>
    </a>
    {% else %}
    <span>
      <i class="uk-icon-angle-double-right"></i>
    </span>
    {% endif %}
  </li>
</ul>
{% endmacro %}
